---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Carousel from '../../components/Carousel.astro';
import ProcessOverview from '../../components/ProcessOverview.astro';
import ColumnTextBlock from '../../components/ColumnTextBlock.astro';

const { entry } = Astro.props;
const { Content } = await entry.render();

export async function getStaticPaths() {
  const portfolioEntries = await getCollection('portfolio');
  return  portfolioEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}


---
<Layout title={entry.data.title} description={entry.data.description}>
	<main class="main portfolio-main" slot="main">
    
    <div class="portfolio-text-content">
      <div id="portfolio-category-container">
        {entry.data.category.map((item) => (
        <span class="portfolio-category">{item}</span>
        ))}
      </div>
      <div id="portfolio-name-container">
        <h1 class="portfolio-name">{entry.data.title}</h1>
      </div>
    </div>
    <section id="portfolio-intro-section">

        <div id="portfolio-intro-container">
          {entry.data.threeDModel && (
          <div id="portfolio-thumbnail-container" class="portfolio-image-container">
           
              <>
              <script is:inline type="module" src="https://unpkg.com/@splinetool/viewer@1.9.6/build/spline-viewer.js"></script>
              <spline-viewer url={entry.data.threeDModel}></spline-viewer>
              </>
              <small style="text-align:center; width: 100%;">Click Screen to Play</small>

          </div>
     )}
          
          <div id="portfolio-intro-content" class="portfolio-sub-section">
       
          
              <h2 class="portfolio-subsection-headers">Introduction</h2>
              {entry.data.introduction.map((copy) => (

              <p class="portfolio-intro-text">{copy}</p>
              ))}
            </div>
            

         
        </div> 

      </div> 

         

     
    </section>
    <section>
      <h2 class="portfolio-subsection-headers">Project Overview</h2>

      <div id="portfolio-overview">

      <div id="portfolio-challenge" class="portfolio-sub-section">
          <img class="portfolio-icons" src="/src/images/portfolio/challenge.svg"/>
          <h2 class="portfolio-subheaders">Challenge</h2>
          
          <ul>
            {entry.data.challenges?.map((challenge) => (
              <li><input type="checkbox" disabled="disabled" />{challenge}</li>
            ))}
          </ul>
      </div> 

      <div id="portfolio-solution" class="portfolio-sub-section">
        <img class="portfolio-icons" src="/src/images/portfolio/solution.svg"/>
        <h2 class="portfolio-subheaders">Solution</h2>
        
    
          {entry.data.solutions?.map((solution) => (
            <p>{solution}</p>
          ))}
      </div> 

      <div id="portfolio-results" class="portfolio-sub-section">
        <img class="portfolio-icons" src="/src/images/portfolio/results.svg"/>
        <h2 class="portfolio-subheaders">Results</h2>
        

          {entry.data.results?.map((result) => (
            <p>{result}</p>
          ))}

      </div> 
    </div>
      
    </section>
    <!-- <ProcessOverview processes={entry.data.processes.map(process => ({ 
            src: process.src.src,
            header: process.header,
            activities: process.activities

            }))}  /> -->
          <!-- <Carousel header="Screenshots" 
          images={entry.data.carousel.map(image => ({ 
            src: image.src.src, 
            }))} 
             /> -->
       
          <!-- {entry.data.impact && (
            <>
            <ColumnTextBlock header="Product Impact"  content={entry.data.impact.map(item => ({ header: item.header, description: item.description, list: item.list || [] }))} />
            </>
                                   
                                   )} -->

          
          <!-- <Content /> -->
      
          </div>
	</main>
</Layout>
<style lang="scss">

  .portfolio-icons{
    max-height: 64px;
    padding: 1rem;
    
  }
  .portfolio-category{
    background: #333;
    color:white;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin: 0;
    font-weight: 700;
    font-size: 0.75rem;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
  }

  .portfolio-name{
      padding-top:1rem;
      padding-bottom: 2rem;
    }

  .portfolio-header {
      font-size: 1.75rem;
      margin: 0;
      padding: 0;
      padding: 1rem 0;
      text-transform: uppercase;
  }

  .portfolio-list{
    list-style-type: none;

  }

  .portfolio-image-container {
    width: 100%;
    height: 100%;

    img {
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%;
      border-radius: 1rem;

    }
  }

  .portfolio-text-content{
    padding:0;
    margin: 0;
    padding: 1rem;
  }

  .portfolio-sub-section{
    padding: 0;
    margin: 0;
    background:rgba(2,170,176,0.1);
    border-radius: 1rem;
    margin-top: 1rem;
  }

  @media only screen and (min-width: 768px) {
    .portfolio-image-container {


    img {
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 1rem;

    }
  }
    

    .portfolio-text-content{
  }

  .portfolio-subheaders{
    font-size: 1.25rem;
    width: 100%;
  }
    .portfolio-name{
      font-size: 4rem;
    }
    .portfolio-sub-section{
    margin-top: 0rem;
    padding: 1.5rem ;

  }

  

    #portfolio-intro-container{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr auto;
      gap: 2rem;
      max-width: 1440px;
      padding: 2rem;
      border-radius: 2rem;
      h2{
        text-align: left;
      }
    
    }

    #portfolio-title-container{
      grid-column: 1 / 7;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    #portfolio-thumbnail-container{
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: stretch;
    }
      
    
    #portfolio-intro-content{
      grid-column: 5 / 7;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      background: white;
      height: 500px;

    }

    #portfolio-team{
      grid-column: 3 / 5;
      grid-row: 2 / 3;
      display: flex;
      flex-direction:  column;
      justify-content: start;
      align-items: start;
 
    }

    #portfolio-role{
      grid-column: 1 / 3;
      grid-row: 2 / 4;
 display: flex;
 flex-direction:  column;
 justify-content: space-around;
 align-items: start;

}

#portfolio-overview{
  display:flex;
  gap: 2rem;
  margin-top: 2rem;
  h2 {
    text-align: center;
    width: 100%;
  }
}

#portfolio-time{
  height: 50%;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align:center;
  font-size: 2rem;
 display: flex;
 flex-direction:  column;
 justify-content: space-around;
 align-items: start;

}

    #portfolio-challenge{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      background: white;
      padding: 2rem;
      width: 33.3%;
      
      h2{
        color:black;
        text-align:center;
      }
      li{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;

        vertical-align: middle;
      }

      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 1rem;
      }
      
    }

    .portfolio-subsection-headers{
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
    }

    #portfolio-solution{

      
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      background: white;
      padding: 2rem;
      width: 33.3%;

      
      h2{
        color:black;
        text-align:center;
      }
      li{
        padding: 0;
        margin: 0;
      }

      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding: 1rem;
      }
    }

    #portfolio-results{

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      background: white;
      padding: 2rem;
      width: 33.3%;

      
      h2{
        color:black;
        text-align:center;
      }
      li{
        padding: 0;
        margin: 0;
      }
    }

  }
</style>

<!-- <style lang="scss" is:global>

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100svw;
  }


  .portfolio-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    
  
  }
  
  .portfolio-image-container {
    border-radius: 2rem;  
    padding:0;
    margin: 0;
    
    &:first-child {
      margin-right:1rem;
    }
    &:last-child {
      margin-left:1rem;
    }

  img {
  border-radius: 2rem;  
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;

  }
}

.portfolio-image-list{
  width: 100svw;
  overflow-x: hidden;
}

  .portfolio-intro-text{
    font-size: 1.25rem;
    line-height: 150%;
  }
  .main-image {
    width: 100svw;
    height: 100%;
  }

  .thumbnail-image{
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
  }
  

  

  .portfolio-category{
    background: #333;
    color:white;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin: 0;
    font-weight: 700;
    font-size: 0.75rem;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
  }
  .portfolio-title {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    padding:  1rem 0;
    text-transform: uppercase;
  }

  .portfolio-gallery{
    position:relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    width: 100%;
  }

  .problem-statement{
    background: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    padding: 1rem;
    color: white;
  }
 
  @media only screen and (min-width: 768px) {

    .portfolio-content {
    padding: 1rem;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    p{
      font-size: 1.2rem;
    }
    li{
      line-height: 150%;
      font-size: 1.2rem;
    }
  }
  
    .portfolio-category-container{
      padding-top:1rem;
      padding-bottom: 1rem;
    }
    .portfolio-subheaders{
      font-size: 1.25rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
  .portfolio-intro-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-top: 2rem;
  }

  .portfolio-title {
    font-size: 2rem;
  }
.portfolio-intro {
  display: inline-block;
  width: 40%;
  background:white;
  padding: 2rem;
  border-radius: 2rem;

}
.portfolio-objectives {
  display:inline-block;
  width: 60%;

}

.portfolio-image-container {
  border-radius: 2rem;  
  padding:0;
  margin: 0;
  width: 100%;

  
  &:first-child {
    margin-right:1rem;
  }
  &:last-child {
    margin-left:1rem;
  }

}
.portfolio-image-container img {
  border-radius: 2rem;  
  margin: 0;
  width: 100%;
  height: auto;


}
.portfolio-text-content {
  margin: 0;
  background:white;
  padding: 2rem;
  margin-top:2rem;
  border-radius: 2rem;  
}

.portfolio-image-section{
  width: 100%;
  display: flex;
  border-radius: 2rem;  
  padding: 0;
  margin: 0;
  flex-direction:row;


}

  .portfolio-deliverables {
  border-radius: 2rem;  
  width: 100%;
}

 
}
</style> -->

<script>
  
</script>