---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const portfolioEntries = await getCollection('portfolio');
  return  portfolioEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

import Layout from '../../layouts/Layout.astro';

const { entry } = Astro.props;
const { Content } = await entry.render();
// import { Image } from 'astro:assets';

---

<Layout title={entry.data.title} description={entry.data.description}>
	<main class="main" slot="main">
        <!-- <Image class="main-image" src={entry.data.thumbnail} alt={entry.data.alt} /> -->

        <div class="container">
          <Content />
          <ul class="blog-metadata-list">
            <li class="blog-metadata-item"><p class="blog-metadata"><strong>Last Updated:</strong><br />{entry.data.pubDate}</p></li>
            <li class="blog-metadata-item"><p class="blog-metadata"><strong>Built By:</strong><br />{entry.data.author}</p></li>
            <li class="blog-metadata-item"><p class="blog-metadata"><strong>Technology:</strong><br />{entry.data.technology}</p></li>
          </ul>
          </div>
	</main>

<style lang="scss">
  .main {
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }

  .container {
    padding: 1rem;
    width: 100%;


    h1 {
      font-size: 1.25rem;}
  }

  .main-image {
    max-width: 100svw;
    height: 100%;

  }

  .blog-metadata-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .blog-metadata-item {
    list-style-type: none;
    display:inline-block;
    padding:1rem;

    &:first-child {
      padding-left:0;
    }

  }

  .blog-metadata {
    text-align:center;
    font-size: .75rem;
  }
</style>